{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans 'login' %}
{% endblock %}

{% block head %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}

<div class="co-sm-6">
    <h1 class="logo">EscaHub</h1>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="login">
      <h2>{% trans 'Log in' %}</h2>
      <form method="post" action="{% url 'login' %}" role="form">
        {% csrf_token %}
        <div class="form-group{% if form.username.errors %} has-error{% endif %}">
          <label for="username">{% trans 'Username' %}</label>
          <input type="text" class="form-control" id="username" name="username">
          {% for error in form.username.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="form-group{% if form.password.errors %} has-error{% endif %}">
          <label for="password">{% trans 'Password' %}</label>
          <input type="password" class="form-control" id="password" name="password">
          {% for error in form.password.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{% trans 'Log in' %}</button>
          <a href="{% url 'signup' %}" class="btn btn-link">{% trans 'Sign up for EscaHub' %}</a>
          <h3>Or</h3>
          <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        </div>
      </form>
    </div>
  </div>
  <h1 class="logo"><a href="{% url 'home' %}">EscaHub</a></h1>
  <div class="col-sm-6">
  <div class="signup">
    <h2>{% trans 'Sign up for EscaHub' %}</h2>
    <form action="{% url 'signup' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg">{% trans 'Create an account' %}</button>
    </form>
  </div>
  </div>
{% endblock %}